<div class="container-fluid blog-and-news">


   
 



    <div class="container blog-and-news-container">
        <h1 class="mb-5 blue-big-font" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000"> Recent Posts</h1>

        <div class="row" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">

            
 
        <div class="col-md-4 card">

             

                    <img class="card-image" src="images/card-images/blog-and-news-1.jpg" alt="">

                    <span class="image-tag">Information</span>
                   
                   <div class="card-body">


                    <h1 class="card-heading">Generations of Dedication to Quality on Our Cow Farm</h1>
                    
                    <div class="role-and-date-container">
                        
                        
                        <div class="item">
                            <i class="fa-regular fa-calendar icon"></i>
                            <span class="gray-description-font">August 11, 2023</span>
                        </div>

      
                    </div>
                 

                   
                    <p class="gray-description-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu lectus nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per…</p>

                    <a href="">Read More  &nbsp; &nbsp; &nbsp;<i class="fa fa-arrow-right"></i> </a>

                   </div>
                   
               


                
                


        </div>
        <div class="col-md-4 card">

            <img class="card-image" src="images/card-images/blog-and-news-2.jpg" alt="">
                   
            <span class="image-tag">Information</span>
            <div class="card-body">


             <h1 class="card-heading">Generations of Dedication to Quality on Our Cow Farm</h1>
             
             <div class="role-and-date-container">

                  <div class="item">
                     <i class="fa-regular fa-calendar icon"></i>
                     <span class="gray-description-font">August 11, 2023</span>
                 </div>


             </div>
          

            
             <p class="gray-description-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu lectus nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per…</p>

             <a href="">Read More  &nbsp; &nbsp; &nbsp;<i class="fa fa-arrow-right"></i> </a>

            </div>
            


        </div>

        <div class="col-md-4 card">

            <img class="card-image" src="images/card-images/blog-and-news-1.jpg" alt="">
                   
            <span class="image-tag">Information</span>
            <div class="card-body">


             <h1 class="card-heading">Generations of Dedication to Quality on Our Cow Farm</h1>
             
             <div class="role-and-date-container">

                <div class="item">
                    <i class="fa-regular fa-calendar icon"></i>
                    <span class="gray-description-font">August 11, 2023</span>
                </div>


             </div>
          

            
             <p class="gray-description-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu lectus nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per…</p>

             <a href="">Read More  &nbsp; &nbsp; &nbsp;<i class="fa fa-arrow-right"></i> </a>

            </div>
            


        </div>


    </div>



    </div>


</div>