<div class="container-fluid blog-main-content">


    <div class="container blog-main-content-container">

        <div class="image-container mb-5" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">

            <img src="images/background-images/home-our-advantages-background.jpg" alt="">

            <div class="image-text-container" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">
                <h1 class="big-white-text" > Importance of A2 Milk & its products in the Indian Diet </h1>
            </div>
        </div>

        <div class="description">

            <p class="mb-3 gray-description-font" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">

                India, a land deeply rooted in Ayurveda and natural living, has always recognized the health benefits of cow's milk.
                But not all milk is the same. In recent years, there's been a growing awareness about the difference between A1 and A2 milk,
                and why A2 milk—especially from indigenous Gir cows—holds a special place in the Indian diet.
            </p>

            <p class="gray-description-font mb-5" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">
                
                This milk is free from the A1 protein, which has been linked to digestive issues in some individuals. A2 milk from native breeds
                like the Gir cow is not only easier on
                the stomach but also richer in nutrients. With its deep connection to Ayurvedic principles, A2 milk is seen as a sattvic (pure) 
                food—promoting balance, strength, and long-term wellness in the Indian diet.
            </p>
        
            <h3 class="blue-big-font swiper-header mb-3" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000"> What is A2 Milk?</h3>
                
             <p class="gray-description-font mb-5 " data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">

                Milk contains a type of protein called beta-casein. There are two main types: A1 and A2.
While A1 protein (commonly found in foreign or hybrid cows) has been linked to digestive issues and inflammation, A2 protein, found in native Indian breeds like the Gir cow, is easier to digest and healthier.

             </p>
       



             <h3 class="blue-big-font swiper-header mb-3" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000"> Condimentum Ullamcorper Lobortis</h3>
                
             <p class="mb-3 gray-description-font" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">Proin eget accumsan risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut ut urna neque. Vestibulum tincidunt nisi a dui sagittis laoreet.</p>
       
              

                    <app-image-swiper></app-image-swiper>








                <p class="mb-3 gray-description-font" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc molestie viverra hendrerit. Nam et ultricies turpis. Sed quis tempus lorem. Quisque ut ex dapibus, aliquet magna in, condimentum nibh. Quisque turpis nibh, gravida et elit at, placerat varius orci. Maecenas scelerisque pulvinar sem, at scelerisque odio gravida pulvinar. </p>
                

                <div class="text-content-with-img mb-5" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">
                    <i class="fa-solid fa-quote-right"></i>
                    <p class="mb-3 gray-description-font">Aliquam sed ante facilisis, rhoncus lectus ac, volutpat lacus. Sed varius auctor nunc, sit amet faucibus sapien aliquam sit amet. Praesent condimentum dignissim convallis. Curabitur elementum mi ipsum, eget pretium orci fermentum ut. Praesent aliquam ligula quis interdum aliquam. Sed augue est, blandit eu bibendum tempor, tempus in justo. Vivamus in lacus tincidunt metus fermentum faucibus eget ut nibh. Ut viverra urna quis lectus malesuada.</p>

                </div>


                <div class="horizontal-card row mb-5" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">
                    <div class="col-md-6 column">

                        <div class="horizontal-card-image-container">
                            <img src="images/background-images/looking-after-cows-resize.jpg" >
                        </div>

                    </div>

                    <div class="col-md-6 column">

                        <div class="horizontal-card-text-container">
                                <h1 class="blue-big-font">Add Your Heading Text Here</h1>
                                <p class="gray-description-font">Nullam imperdiet fermentum arcu a luctus. Pellentesque id ornare magna. Aliquam ultrices, quam quis convallis ornare, nibh libero faucibus urna, ut maximus nisi orci in diam.</p>

                                <div class="description-list">
                                    <div class="item">

                                        <i  class="fa-solid fa-square-check checkbox-icon"></i>
                                            <p class="gray-description-font">Class aptent taciti sociosqu ad litora torquent per conubia</p>

                                    </div>

                                    <div class="item">

                                        <i  class="fa-solid fa-square-check checkbox-icon"></i>
                                            <p class="gray-description-font">Class aptent taciti sociosqu ad litora torquent per conubia</p>

                                    </div>

                                    <div class="item">

                                        <i  class="fa-solid fa-square-check checkbox-icon"></i>
                                            <p class="gray-description-font">Class aptent taciti sociosqu ad litora torquent per conubia</p>

                                    </div>

                                

                                </div>


                                <p class="mb-3 gray-description-font">
                                Nullam imperdiet fermentum arcu a luctus. Pellentesque id ornare magna. Aliquam ultrices, quam quis convallis ornare.
                                </p>
                

                        </div>
                        
                    </div>

                </div>

                <hr class="separation">



       
       
       
       
       
       
       
       
       
        </div>



        
    </div>
        
        


</div>