<div class="container-fluid blog-main-content">


    <div class="container blog-main-content-container">

        <div class="image-container mb-5">

            <img src="images/background-images/home-our-advantages-background.jpg" alt="">

            <div class="image-text-container">
                <h1 class="big-white-text">Add Your Heading Text Here</h1>
            </div>
        </div>

        <div class="description">

            <p class="mb-3 gray-description-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc molestie viverra hendrerit. Nam et ultricies turpis. Sed quis tempus lorem. Quisque ut ex dapibus, aliquet magna in, condimentum nibh. Quisque turpis nibh, gravida et elit at, placerat varius orci. Maecenas scelerisque pulvinar sem, at scelerisque odio gravida pulvinar. Aliquam accumsan risus non lectus placerat lobortis. Maecenas eros tortor, mattis 
                vel dui efficitur, accumsan maximus nunc.</p>

            <p class="gray-description-font mb-5">Pellentesque nec massa quis urna fringilla ullamcorper. Donec sodales eget justo a fringilla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque vel venenatis libero. Aenean accumsan sapien in augue eleifend luctus. Etiam vitae eros a nisl ornare ornare eget ut felis. Vestibulum congue quam et turpis dictum, id accumsan neque laoreet.</p>
        
             <h3 class="blue-big-font swiper-header mb-3">Condimentum Ullamcorper Lobortis</h3>
                
             <p class="mb-3 gray-description-font">Proin eget accumsan risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut ut urna neque. Vestibulum tincidunt nisi a dui sagittis laoreet.</p>
       
              

                    <app-image-swiper></app-image-swiper>








                <p class="mb-3 gray-description-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc molestie viverra hendrerit. Nam et ultricies turpis. Sed quis tempus lorem. Quisque ut ex dapibus, aliquet magna in, condimentum nibh. Quisque turpis nibh, gravida et elit at, placerat varius orci. Maecenas scelerisque pulvinar sem, at scelerisque odio gravida pulvinar. </p>
                

                <div class="text-content-with-img mb-5">
                    <i class="fa-solid fa-quote-right"></i>
                    <p class="mb-3 gray-description-font">Aliquam sed ante facilisis, rhoncus lectus ac, volutpat lacus. Sed varius auctor nunc, sit amet faucibus sapien aliquam sit amet. Praesent condimentum dignissim convallis. Curabitur elementum mi ipsum, eget pretium orci fermentum ut. Praesent aliquam ligula quis interdum aliquam. Sed augue est, blandit eu bibendum tempor, tempus in justo. Vivamus in lacus tincidunt metus fermentum faucibus eget ut nibh. Ut viverra urna quis lectus malesuada.</p>

                </div>


                <div class="horizontal-card row mb-5">
                    <div class="col-md-6 column">

                        <div class="horizontal-card-image-container">
                            <img src="images/background-images/looking-after-cows-resize.jpg" >
                        </div>

                    </div>

                    <div class="col-md-6 column">

                        <div class="horizontal-card-text-container">
                                <h1 class="blue-big-font">Add Your Heading Text Here</h1>
                                <p class="gray-description-font">Nullam imperdiet fermentum arcu a luctus. Pellentesque id ornare magna. Aliquam ultrices, quam quis convallis ornare, nibh libero faucibus urna, ut maximus nisi orci in diam.</p>

                                <div class="description-list">
                                    <div class="item">

                                        <i  class="fa-solid fa-square-check checkbox-icon"></i>
                                            <p class="gray-description-font">Class aptent taciti sociosqu ad litora torquent per conubia</p>

                                    </div>

                                    <div class="item">

                                        <i  class="fa-solid fa-square-check checkbox-icon"></i>
                                            <p class="gray-description-font">Class aptent taciti sociosqu ad litora torquent per conubia</p>

                                    </div>

                                    <div class="item">

                                        <i  class="fa-solid fa-square-check checkbox-icon"></i>
                                            <p class="gray-description-font">Class aptent taciti sociosqu ad litora torquent per conubia</p>

                                    </div>

                                

                                </div>


                                <p class="mb-3 gray-description-font">
                                Nullam imperdiet fermentum arcu a luctus. Pellentesque id ornare magna. Aliquam ultrices, quam quis convallis ornare.
                                </p>
                

                        </div>
                        
                    </div>

                </div>

                <hr class="separation">



       
       
       
       
       
       
       
       
       
        </div>



        
    </div>
        
        


</div>