<div class="container-fluid" class="all-products">


    <div class="container products-card-container">

            <h3 class="yellow-text" data-aos="fade-in"  data-aos-delay="0" data-aos-duration="0">Our All Products</h3>
            <h1 class="blue-big-font"  data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000" >Views All Product</h1>


        <div class="row products-card-row">
        
        <!-- card-1  -->
            <div class="col-md-3 card card-blue" data-aos="slide-up"  data-aos-delay="0">


                <img src="images/card-images/product-p1.jpg" alt="">

                <div class="card-content">
                    
                    <div class="rating-section"><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating><span class="rating-count">3.5</span></div>
                    <h1>Fresh Butter</h1>
                    <p>Smooth, rich, and farm-fresh. Crafted from pure A2 milk, our butter brings natural flavor to every bite.</p>
                    

                    <div class="price-and-cart-container">
                            <h1 class="price card-blue-price">$22.00</h1>
                            <div class="card-icon"><i class="fa-solid fa-heart"></i></div>
                            <div class="card-icon" ><i class="fa-solid fa-cart-plus"></i></div>

                    </div>


                </div>
               


            </div>
            <div class="col-md-3 card card-white " data-aos="slide-up" data-aos-delay="100">

                <div class="card-content">

                    <img src="images/card-images/product-p2.jpg" alt="">
                    <div class="rating-section"><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating><span class="rating-count">3.5</span></div>
                    <h1>Aged Cheese</h1>
                    <p>Aliquam quis dapibus mauris. Quisque ac tortor eget quam.</p>

                    <div class="price-and-cart-container">
                            <h1 class="price card-blue-price">$22.00</h1>
                            <div class="card-icon"><i class="fa-solid fa-heart"></i></div>
                            <div class="card-icon" ><i class="fa-solid fa-cart-plus"></i></div>

                    </div>


                </div>
            </div>
            <div class="col-md-3 card card-blue" data-aos="slide-up" data-aos-delay="200">


                <div class="card-content">

                    <img src="images/card-images/product-p3.png" alt="">
                    <div class="rating-section"><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating><span class="rating-count">3.5</span></div>
                    <h1>Fresh Milk</h1>
                    <p>Aliquam quis dapibus mauris. Quisque ac tortor eget quam.</p>

                    <div class="price-and-cart-container">
                            <h1 class="price card-blue-price">$22.00</h1>
                            <div class="card-icon"><i class="fa-solid fa-heart"></i></div>
                            <div class="card-icon" ><i class="fa-solid fa-cart-plus"></i></div>

                    </div>


                </div>
            </div>
            <div class="col-md-3 card card-white"data-aos="slide-up" data-aos-delay="300">

                <div class="card-content">

                    <img src="images/card-images/product-p4.jpg" alt="">
                    <div class="rating-section"><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating><span class="rating-count">3.5</span></div>
                    <h1>Aged Cheese</h1>
                    <p>Aliquam quis dapibus mauris. Quisque ac tortor eget quam.</p>

                    <div class="price-and-cart-container">
                            <h1 class="price card-blue-price">$22.00</h1>
                            <div class="card-icon"><i class="fa-solid fa-heart"></i></div>
                            <div class="card-icon" ><i class="fa-solid fa-cart-plus"></i></div>

                    </div>


                </div>
            </div>
    
    
        </div>


    </div>

    
    <div class="button-section">
            <button class="blue-button" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="2000">View All Products &nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>
    </div>
   

</div>

