<div class="container-fluid" class="all-products">


    <div class="container products-card-container">

            <h3 class="yellow-text" data-aos="fade-in"  data-aos-delay="0" data-aos-duration="0">Our All Products</h3>
            <h1 class="blue-big-font"  data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000" >View All Products</h1>


        <div class="row products-card-row">
        
        <!-- card-1  -->
            <div class="col-md-3 card card-blue" data-aos="slide-up"  data-aos-delay="0">


                <img src="images/card-images/product-p1.jpg" alt="">

                <div class="card-content">
                    
                    <!-- <div class="rating-section"><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating><span class="rating-count">3.5</span></div> -->
                    <h1>Fresh A2 Butter</h1>
                    <p>Farm-fresh A2 butter with rich taste and natural goodness in every bite.</p>
             </div>
            </div>


             <div class="col-md-3 card card-white" data-aos="slide-up"  data-aos-delay="100">


                <img src="images/card-images/product-p2.jpg" alt="">

                <div class="card-content">
                    
                    <!-- <div class="rating-section"><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating><span class="rating-count">3.5</span></div> -->
                    <h1>A2 Bilona Ghee</h1>
                    <p>Traditionally churned, nutrient-rich ghee that boosts immunity and digestion.

</p>
             </div>
            </div>


              <div class="col-md-3 card card-blue" data-aos="slide-up"  data-aos-delay="200">


                <img src="images/card-images/product-p3.jpg" alt="">

                <div class="card-content">
                    
                    <!-- <div class="rating-section"><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating><span class="rating-count">3.5</span></div> -->
                    <h1>A2 Gir Cow Milk</h1>
                    <p>Pure, easily digestible milk packed with A2 protein—perfect for all ages.</p>
             </div>
            </div>


            <div class="col-md-3 card card-white" data-aos="slide-up"  data-aos-delay="300">


                <img src="images/card-images/product-p4.jpg" alt="">

                <div class="card-content">
                    
                    <!-- <div class="rating-section"><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating><span class="rating-count">3.5</span></div> -->
                    <h1>Fresh A2 Curd</h1>
                    <p>Thick, probiotic-rich curd made from pure A2 milk for a healthy gut.</p>
             </div>
            </div>
    
    
        </div>


    </div>

    
    <div class="button-section">
       
       <a href="pages/product"><button class="blue-button" data-aos="fade-up" (click)="goToProductsPage()" data-aos-delay="0" data-aos-duration="1500">View All Products &nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button> </a>
    </div>
   

</div>

