
@import url('../../../../../../public/css/components/button.style.css');


.big-screen-nav-bar{

    position: relative;
    /* height: 20vh; */
    z-index: 3;
margin-bottom: 10px;
margin-top: 10px;

}

.big-screen-navbar-nav{

  gap: 25px;
}

.navbar-btn{

    position: absolute;
    right: 0px;
    top: 0px;

}
.right-arrow{

    font-size: 15px;
    
}

.nav-link
{
    font-family: "Commissioner", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: black;
}





/* cutstom dropdown div code  */



/* Fade-in animation keyframes */
@keyframes fadeInDropdown {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
/* Fade-in animation keyframes */

.custom-dropdown {
    background-color: #1c3270;
    border: none;
    overflow: hidden;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    width: 200px;

  }
  
  /* Show dropdown on hover */
  .nav-item.dropdown .dropdown-menu {
    display: none;
    position: absolute;

  }
  
  .nav-item.dropdown.show .dropdown-menu {
    display: block;
    border-radius: 30px 0px 30px 0px;

    opacity: 1;
    pointer-events: auto;
    animation: fadeInDropdown 0.5s ease forwards;

  }

  .dropdown-item{

    color: white;
    font-family: "Commissioner", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 15px 15px 35px;


  }
  
  /* Hover effect on dropdown items */
  .dropdown-item:hover {
    background-color: #4d84cc;
    color: white;
  }
  

  .active-link{

    color: #4d84c9 !important;
}

.dropdown-active-link{
  background-color: #4d84cc;
    color: white;

}

.active-drop-down>.nav-link{

  color: #4d84c9 !important;

}


.nav-link:hover{

  color: #4d84c9 !important;
}
    


@keyframes updown {
  0%   { transform: translateY(0); }
  25%  { transform: translateY(-10px); }
  50%  { transform: translateY(0); }
  75%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.quote-btn:hover{
  animation: updown 2.5s linear infinite;

}





  /* //for desktop and laptop and all other big screen */
  @media screen and (min-width: 1024px)  {}  
    

  /* //for Tablet */
  @media screen and (max-width: 1024px) {

    .quote-btn{
      display: none;
    }


  }


  /* //for mobile screen  */
  @media screen and (max-width: 600px) {

 


  } 