 <!-- nav bar for desktop only i.e this component gets rendered on bigh screen only -->
 <nav class="navbar big-screen-nav-bar navbar-expand-lg navbar-light  container ">
    <div class="container-fluid">
        
     


      
    
       <!-- //this button gets deisplay on small screen only at right hand sade of hamburger i -->



      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav big-screen-navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home"   routerLinkActive="active-link"href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/about-us"  routerLinkActive="active-link" href="#">About us</a>
          </li>
             <!-- Pages Dropdown -->
            <li class="nav-item dropdown" [ngClass]="{show: pagesHovered}" (mouseenter)="pagesHovered = true"
                (mouseleave)="pagesHovered = false"
                
                routerLinkActive="active-drop-down"
                [routerLinkActiveOptions]="{ exact: false }"
                
                >
            <a class="nav-link" href="#" id="pagesDropdown"
            >

                Pages <i class="fa fa-angle-down" style="font-size: 15px;"></i>
            </a>
            <ul class="dropdown-menu custom-dropdown" [class.show]="pagesHovered">
                <li><a class="dropdown-item" href="#" routerLink="/pages/faq"  routerLinkActive="dropdown-active-link">FAQ</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/pages/product"  routerLinkActive="dropdown-active-link">Product</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/pages/team"  routerLinkActive="dropdown-active-link">Team</a></li>
                <li><a class="dropdown-item" href="#" routerLink="/pages/pricing"  routerLinkActive="dropdown-active-link">Pricing</a></li>
                 <li><a class="dropdown-item" href="#" routerLink="/pages/video-gallery"  routerLinkActive="dropdown-active-link">Video-Gallery</a></li>
            </ul>
            </li>

            <!-- Blog Dropdown -->
            <li class="nav-item dropdown" [ngClass]="{show: blogHovered}" (mouseenter)="blogHovered = true"
                (mouseleave)="blogHovered = false">
            <a class="nav-link " href="#" id="blogDropdown">
                Blog <i class="fa fa-angle-down"  style="font-size: 15px;"></i>
            </a>
            <ul class="dropdown-menu custom-dropdown" [class.show]="blogHovered">
                <li><a class="dropdown-item" href="#"  routerLink="/blog"  routerLinkActive="dropdown-active-link">Single Post</a></li>
            </ul>
            </li>


            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#" routerLink="/contact-us"  routerLinkActive="active-link">Contact</a>
            </li>

        </ul>
     
      </div>

      
    </div>
 
    <!-- Desktop view Get Free Quote -->
    <button href="#" class="navbar-btn quote-btn blue-button" routerLink="/contact-us">Contact Us &nbsp;&nbsp;<i class="fa fa-arrow-right right-arrow"></i></button>

  </nav> 

