

<div class="conainer-fluid about-us-description">

                <div class="container about-us-description-container">

                        <div class="row">

                            <div class="col-md-6 left-column">

                                    <img src="images/background-images/about-us-header-image.jpg" alt="">   

                                    <div class="image-text-container">
                                        <h3>We Are Trusted <br> Happy <span>6000+</span> Client</h3>
                                    </div>


                                    


                            </div>
                            <div class="col-md-6 right-column">


                                <h3 class="yellow-text">About Us</h3>
                                <h1 class="blue-big-font">Tracing the Journey of Milk from Our Contented Cows</h1>
                                <p class="gray-description-font mb-5">Curabitur faucibus orci a condimentum pretium. Pellentesque vel libero feugiat nibh cursus consequat vel eu lectus. Praesent eget ipsum blandit, tempus purus sed, vestibulum tellus. Nam laoreet massa semper est gravida tristique.</p>
                                <div class="right-column-sub-text">
                                    <i class="fa-solid fa-quote-right double-quote-icon"></i>
                                    
                                    
                                    <p class="gray-description-font">Curabitur id sem sit amet nibh vulputate tincidunt in vitae erat. Morbi vehicula, purus quis lacinia vehicula, nunc nunc rutrum est, sit amet porta odio mi vulputate turpis. Proin at ex pharetra.</p>
                                    <img src="/images/background-images/signature.png" alt="">
                                    <h4>Andrew John</h4>
                                    <h5>Founder Mooly Farm</h5>
                                </div>  

                            </div>






                        </div>



                </div>



</div>