

<div class="conainer-fluid about-us-description">

                <div class="container about-us-description-container">

                        <div class="row">

                            <div class="col-md-6 left-column" data-aos="slide-up"  data-aos-delay="0" data-aos-duration="1000">

                                    <img src="images/background-images/about-us-header-image.jpg" alt="">   

                                    <div class="image-text-container" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1500">
                                        <h3>We Are Trusted <br> Happy <span>6000+</span> Client</h3>
                                    </div>


                                    


                            </div>
                            <div class="col-md-6 right-column">


                                <h3 class="yellow-text" data-aos="fade-in"  data-aos-delay="0" data-aos-duration="1000">About Us</h3>
                                <h1 class="blue-big-font" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">Following the Flow of Purity From Free Roaming Cows to Your Home</h1>
                                <p class="gray-description-font mb-5 right-column-header-description" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">DK Dairy Farm is a trusted name in pure A2 dairy products in Pune. We specialize in delivering fresh Gir Cow A2 milk and traditional dairy products like A2 ghee, A2 butter, and A2 curd directly to your doorstep.</p>
                                <div class="right-column-sub-text">
                                    <i class="fa-solid fa-quote-right double-quote-icon" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000"></i>
                                    
                                    
                                    <p class="gray-description-font"data-aos="fade-up"  data-aos-delay="300" data-aos-duration="1000">
                                        DK Dairy Farm is more than a business,it's my passion and promise to deliver pure, honest milk.
                                        Every day, I personally ensure our Gir cows are cared for with love and respect.
                                        We don’t believe in shortcuts—just natural, A2-rich dairy the way it’s meant to be.
                                        From my farm to your family, I thank you for trusting us with your health.
                                    </p>
                                    <img src="/images/background-images/signature.png" alt="" data-aos="fade-up"  data-aos-delay="300" data-aos-duration="1000">
                                    <h4 data-aos="fade-up"  data-aos-delay="300" data-aos-duration="1000">Sagar Dike</h4>
                                    <h5 data-aos="fade-up"  data-aos-delay="300" data-aos-duration="1000">Founder DK Farm</h5>
                                </div>  

                            </div>






                        </div>



                </div>



</div>