  
  .our-gallery{

   
      height: auto;
      margin-top: 100px;
      position: relative;
      z-index: 2;

      margin-bottom: 120px;


  }
  
  .our-gallery-header{

    text-align: center;
  }
  

  .our-gallery-sub-header{

  text-align: center;
  }
  
  .img-container{

    position: relative;
    padding: 10px;
    overflow: auto;
  
  }


  .img-container>img{

      border-radius: 20px 20px 20px 20px;
      height: auto;
      width: 100%;
      max-width: 100%;
      filter: brightness(100%);
      border: none;
      box-shadow: none;
      cursor: pointer;
      transition: filter 0.4s ease-in-out;
    }

    .img-container>img:hover{
      filter: brightness(40%);
    
    }

  /* css for text on image */



  






  .overlay-text{
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: white;
    font-size: 30px;
    font-family: "Commissioner", Sans-serif;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.2s ease;
    text-align: center;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .img-container:hover .overlay-text {
    opacity: 1;
  }
  


  /* css for big  img text  */

  .big-img-text>h3{
    font-size: 32px;
    margin: 0px;
  }
  .big-img-text>p{

    font-size: 15px;
    color: #f8ab13;
    font-weight: 400;
    margin: 0px;

  }



  /* css for small img text   */
    /* #f8ab13 */
    
    .small-img-text>h3{

      font-size: 25px;
      margin: 0px;
    }
    .small-img-text>p{
      font-size: 15px;
      color: #f8ab13 ;
      font-weight: 400;
      margin: 0px;

    }
  
  
  
  
  
  /*for desktop and laptop and all other big screen*/

    @media screen and (min-width: 1024px)  {}      


   /*for Tablet*/

    @media screen and (max-width: 1024px) {} 

	
    /*for mobile screen */
    @media screen and (max-width: 600px) {} 

      
    
