  
@import url('../../../../../../public/css/components/fonts.style.css');
@import url('../../../../../../public/css/components/button.style.css');
  
  .our-gallery{

   
      height: auto;
      margin-top: 100px;
      position: relative;
      z-index: 2;

      margin-bottom: 120px;


  }
  
  .our-gallery-header{

    text-align: center;
  }
  

  .our-gallery-sub-header{

  text-align: center;
  margin-bottom: 40px;
  }
  
  .img-container{

    position: relative;
    padding: 10px;
    overflow: auto;
  
  }


  .img-container>img{

      border-radius: 20px 20px 20px 20px;
      height: auto;
      width: 100%;
      max-width: 100%;
      filter: brightness(100%);
      border: none;
      box-shadow: none;
      cursor: pointer;
      transition: filter 0.4s ease-in-out;
    }

    .img-container>img:hover{
      filter: brightness(40%);
    
    }

  /* css for text on image */



  






  .overlay-text{
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: white;
    font-size: 30px;
    font-family: "Commissioner", Sans-serif;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.2s ease;
    text-align: center;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .img-container:hover .overlay-text {
    opacity: 1;
  }
  


  /* css for big  img text  */

  .big-img-text>h3{
    font-size: 32px;
    margin: 0px;
  }
  .big-img-text>p{

    font-size: 15px;
    color: #f8ab13;
    font-weight: 400;
    margin: 0px;

  }



  /* css for small img text   */
    /* #f8ab13 */
    
    .small-img-text>h3{

      font-size: 25px;
      margin: 0px;
    }
    .small-img-text>p{
      font-size: 15px;
      color: #f8ab13 ;
      font-weight: 400;
      margin: 0px;

    }
  
  
    /* css for image viewer  */

    .viewer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
   
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
}

.image-background-modal {
  position: relative;
  z-index: 11;
  background: #fff;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  border-radius:0px 80px 0px 80px !important;
}

.modal img {
  max-width: 80vw;
  max-height: 80vh;
}

.nav {
  position: absolute;
  top: 50%;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
  color: #333;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.close {
  position: absolute;
  top: 18px;
  right: 15px;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: red;
}

.fade {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* Keep this one too for the fade-in effect */
.modal img {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}



  
  
  
  /*for desktop and laptop and all other big screen*/

    @media screen and (min-width: 1024px)  {}      


   /*for Tablet*/

    @media screen and (max-width: 1024px) {

      .image-background-modal>img{

        width: 100%;
      }


    } 

	
    /*for mobile screen */
    @media screen and (max-width: 600px) {

      .big-img-text>h3
      {
          font-size: 25px;
      }

    } 

      
    
