<div class="container-fluid our-gallery">


    <div class="container our-gallery-container">


    

    <h3 class="yellow-text our-gallery-header" 
    data-aos="fade-in"  data-aos-delay="0" data-aos-duration="1000"
     >Our Gallery</h3>
    <h1 class="blue-big-font our-gallery-sub-header"   data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1500">Gallery Farm</h1>


    <div class="row">



            <div class="col-md-6">


                    <div class="row">

                        <div class="col-md-12 img-container" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000"  (click)="openViewer(0)">

                            <img src="images/gallery-images/gallery-img-left-1.webp" alt="" >
                            <div class="overlay-text big-img-text"> 

                                <h3>Dairy Farm</h3>
                                <p>View Detail Photo</p>

                            </div>

                        </div>
                        <div class="col-md-6 img-container" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000" (click)="openViewer(1)">

                            <img src="images/gallery-images/gallery-img-left-2.webp" alt="">
                            <div class="overlay-text small-img-text"> 

                                <h3>Dairy Farm</h3>
                                <p>View Detail Photo</p>

                            </div>

                        </div>
                        <div class="col-md-6 img-container" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000" (click)="openViewer(2)">
                            <img src="images/gallery-images/gallery-img-left-3.webp" alt="">
                            <div class="overlay-text small-img-text"> 

                                <h3>Dairy Farm</h3>
                                <p>View Detail Photo</p>

                            </div>
                        </div>


                    </div>












            </div>

            <div class="col-md-6">

                <div class="row">

                    <div class="col-md-6 img-container" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000" (click)="openViewer(3)">

                        <img src="images/gallery-images/gallery-img-right-1.webp" alt="">
                        <div class="overlay-text small-img-text"> 

                            <h3>Dairy Farm</h3>
                            <p>View Detail Photo</p>

                        </div>
                    </div>
                    <div class="col-md-6 img-container" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000" (click)="openViewer(4)"> 
                        <img src="images/gallery-images/gallery-img-right-2.webp" alt="">
                        <div class="overlay-text small-img-text"> 

                            <h3>Dairy Farm</h3>
                            <p>View Detail Photo</p>

                        </div>
                    </div>


                    <div class="col-md-12 img-container" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000" (click)="openViewer(5)">

                        <img src="images/gallery-images/gallery-img-right-3.webp" alt="">
                        <div class="overlay-text big-img-text"> 

                            <h3>Dairy Farm</h3>
                            <p>View Detail Photo</p>

                        </div>
                    </div>
                   


                </div>




            </div>











    </div>


</div>



</div>



  <div class="viewer" *ngIf="selectedIndex !== null">
        <div class="overlay" (click)="closeViewer()"></div>
        <div class="image-background-modal">
            <button class="nav prev" (click)="prevImage()">&#10094;</button>
            <img [src]="images[selectedIndex!]" alt="Large view">
            <button class="nav next" (click)="nextImage()">&#10095;</button>
            <button class="close" (click)="closeViewer()">×</button>
        </div>
        </div>