<div class="container-fluid our-promo">



    <div class="container our-promo-container">

            <div class="row our-promo-row">

                    <div class="col-md-3 column-1">
                            <h2 class="yellow-text">Our Promo</h2>
                            <h1 class="blue-big-font">Claim Your Coupon Now</h1>
                            <p class="gray-description-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                    
                    </div>
                    
                    <div class="col-md-4 card column-2">
                            <div class="card-content">
                                    <h1 class="big-white-text">Get 10% Off for 1 Cow's Milk & Cheese</h1>
                                    <p class="expiry-date-text">Expires: 28/05/2024</p>
                                    <p class="discount-description">Present this coupon and receive 10% OFF discount when you purchase.</p>
                                    <button class="blue-button">claim coupon</button>


                            </div>
                    
                    </div>
                    
                    <div class="col-md-4 card column-3">
                        <div class="card-content">
                            <h1 class="big-white-text">Get 10% Off for 1 Cow's Milk & Cheese</h1>
                            <p class="expiry-date-text">Expires: 28/05/2024</p>
                            <p class="discount-description">Present this coupon and receive 10% OFF discount when you purchase.</p>
                            <button class="blue-button">claim coupon</button>


                    </div>
                        
                    </div>


            </div>



    </div>




</div>



