<div class="container-fluid our-promo">



    <div class="container our-promo-container">

            <div class="row our-promo-row">

                    <div class="col-md-3 column-1">
                            <h2 class="yellow-text" data-aos="fade-in"  data-aos-delay="0" data-aos-duration="1000">Our Promo</h2>
                            <h1 class="blue-big-font" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">Claim Your Coupon Now</h1>
                            <p class="gray-description-font" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                    
                    </div>
                    
                    <div class="col-md-4 card column-2" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">
                            <div class="card-content">
                                    <h1 class="big-white-text" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1500">Get 10% Off for 1 Cow's Milk & Cheese</h1>
                                    <p class="expiry-date-text"  data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1500">Expires: 28/05/2024</p>
                                    <p class="discount-description"  data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1500">Present this coupon and receive 10% OFF discount when you purchase.</p>
                                    <button class="blue-button"  data-aos="fade-up"  data-aos-delay="0" data-aos-duration="2000">claim coupon</button>


                            </div>
                    
                    </div>
                    
                    <div class="col-md-4 card column-3" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">
                        <div class="card-content">
                                <h1 class="big-white-text" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1500">Get 10% Off for 1 Cow's Milk & Cheese</h1>
                                <p class="expiry-date-text"  data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1500">Expires: 28/05/2024</p>
                                <p class="discount-description"  data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1500">Present this coupon and receive 10% OFF discount when you purchase.</p>
                                <button class="blue-button"  data-aos="fade-up"  data-aos-delay="0" data-aos-duration="2000">claim coupon</button>


                        </div>
                
                        
                    </div>


            </div>



    </div>




</div>



