


<div class="container-fluid faq-client-stories">

    <div class="container faq-client-stories-container ">

                <h3 class="yellow-text header">Testimonials</h3>

                <h1 class="blue-big-font sub-header" >Client Stories</h1>

              <!-- company names slider  -->
        <div class="container client-feedback ">

          <!-- autoplay="true"  -->
            <swiper-container
            class="client-feedback-slider"
            
            
            
          >
            <swiper-slide >
                <div class="card">

                        <div class="card-content">

                            <i class="fa-solid fa-quote-left"></i>

                            <p class="gray-description-font">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra ultricies quam, non fermentum ante mattis eget. Phasellus elementum maximus elit.

                            </p>

                            <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                       

                            <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                                <img src="/images/Avatar-images/avatar-image-1.jpg" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                                <div class="d-flex gap-2 w-100 justify-content-center">
                                  <div>
                                    <h6 class="mb-0 client-name">James Adam</h6>
                                    <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                                  </div>
                                
                                </div>
                              </a>
                       
                        </div>
                </div>
                  
        
            </swiper-slide>
            <swiper-slide> 

                    <div class="card">

                    <div class="card-content">

                        <i class="fa-solid fa-quote-left"></i>

                        <p class="gray-description-font">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra ultricies quam, non fermentum ante mattis eget. Phasellus elementum maximus elit.

                        </p>

                        <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                   

                        <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                            <img src="/images/Avatar-images/avatar-image-1.jpg" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                              <div>
                                <h6 class="mb-0 client-name">James Adam</h6>
                                <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                              </div>
                            
                            </div>
                          </a>
                   
                    </div>
                    </div>
            
            </swiper-slide>
            <swiper-slide>
        
                    <div class="card">

                    <div class="card-content">

                        <i class="fa-solid fa-quote-left"></i>

                        <p class="gray-description-font">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra ultricies quam, non fermentum ante mattis eget. Phasellus elementum maximus elit.

                        </p>

                        <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                   

                        <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                            <img src="/images/Avatar-images/avatar-image-1.jpg" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                              <div>
                                <h6 class="mb-0 client-name">James Adam</h6>
                                <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                              </div>
                            
                            </div>
                          </a>
                   
                    </div>
                    </div>
        
            </swiper-slide>
            <swiper-slide>
                    
                    <div class="card">

                    <div class="card-content">

                        <i class="fa-solid fa-quote-left"></i>

                        <p class="gray-description-font">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra ultricies quam, non fermentum ante mattis eget. Phasellus elementum maximus elit.

                        </p>

                        <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                   

                        <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                            <img src="/images/Avatar-images/avatar-image-1.jpg" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                              <div>
                                <h6 class="mb-0 client-name">James Adam</h6>
                                <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                              </div>
                            
                            </div>
                          </a>
                   
                    </div>
                    </div>
        
            </swiper-slide>

            <swiper-slide>
                <div class="card">

                    <div class="card-content">

                        <i class="fa-solid fa-quote-left"></i>

                        <p class="gray-description-font">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra ultricies quam, non fermentum ante mattis eget. Phasellus elementum maximus elit.

                        </p>

                        <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                   

                        <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                            <img src="/images/Avatar-images/avatar-image-1.jpg" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                              <div>
                                <h6 class="mb-0 client-name">James Adam</h6>
                                <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                              </div>
                            
                            </div>
                          </a>
                   
                    </div>
                    </div>
        
            </swiper-slide>

            <swiper-slide>
                <div class="card">

                    <div class="card-content">

                        <i class="fa-solid fa-quote-left"></i>

                        <p class="gray-description-font">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra ultricies quam, non fermentum ante mattis eget. Phasellus elementum maximus elit.

                        </p>

                        <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                   

                        <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                            <img src="/images/Avatar-images/avatar-image-1.jpg" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                              <div>
                                <h6 class="mb-0 client-name">James Adam</h6>
                                <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                              </div>
                            
                            </div>
                          </a>
                   
                    </div>
                    </div>
            </swiper-slide>



            <swiper-slide>
        
                <div class="card">

                    <div class="card-content">

                        <i class="fa-solid fa-quote-left"></i>

                        <p class="gray-description-font">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra ultricies quam, non fermentum ante mattis eget. Phasellus elementum maximus elit.

                        </p>

                        <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                   

                        <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                            <img src="/images/Avatar-images/avatar-image-1.jpg" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                              <div>
                                <h6 class="mb-0 client-name">James Adam</h6>
                                <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                              </div>
                            
                            </div>
                          </a>
                   
                    </div>
                    </div>
        
            </swiper-slide>
            <swiper-slide>
        
                <div class="card">

                    <div class="card-content">

                        <i class="fa-solid fa-quote-left"></i>

                        <p class="gray-description-font">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra ultricies quam, non fermentum ante mattis eget. Phasellus elementum maximus elit.

                        </p>

                        <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                   

                        <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                            <img src="/images/Avatar-images/avatar-image-1.jpg" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                              <div>
                                <h6 class="mb-0 client-name">James Adam</h6>
                                <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                              </div>
                            
                            </div>
                          </a>
                   
                    </div>
                    </div>
        
            </swiper-slide>

            <swiper-slide>
                <div class="card">

                    <div class="card-content">

                        <i class="fa-solid fa-quote-left"></i>

                        <p class="gray-description-font">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra ultricies quam, non fermentum ante mattis eget. Phasellus elementum maximus elit.

                        </p>

                        <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                   

                        <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                            <img src="/images/Avatar-images/avatar-image-1.jpg" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                              <div>
                                <h6 class="mb-0 client-name">James Adam</h6>
                                <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                              </div>
                            
                            </div>
                          </a>
                   
                    </div>
                    </div>
            </swiper-slide>
            
            
            <swiper-slide>
        
                <div class="card">

                    <div class="card-content">

                        <i class="fa-solid fa-quote-left"></i>

                        <p class="gray-description-font">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra ultricies quam, non fermentum ante mattis eget. Phasellus elementum maximus elit.

                        </p>

                        <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                   

                        <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                            <img src="/images/Avatar-images/avatar-image-1.jpg" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                              <div>
                                <h6 class="mb-0 client-name">James Adam</h6>
                                <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                              </div>
                            
                            </div>
                          </a>
                   
                    </div>
                    </div>
            </swiper-slide>
        
          </swiper-container>
        
        
        
        </div>

    </div>

</div>