


<div class="container-fluid faq-client-stories">

    <div class="container faq-client-stories-container ">

                <h3 class="yellow-text header" data-aos="fade-in"  data-aos-delay="0" data-aos-duration="1000">Testimonials</h3>

                <h1 class="blue-big-font sub-header" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000" >Client Stories</h1>

              <!-- company names slider  -->
        <div class="container client-feedback " data-aos="fade-up"  data-aos-delay="200" data-aos-duration="1000">

          <!-- autoplay="true"  -->
            <swiper-container
            class="client-feedback-slider"
            autoplay="true"
            
            
          >
            <swiper-slide >
                <div class="card">

                        <div class="card-content">

                            <i class="fa-solid fa-quote-left"></i>

                            <p class="gray-description-font">
                               My toddler used to struggle with regular milk, but DK Dairy’s A2 milk has changed everything. It’s gentle, fresh, and I trust it completely for my family.
                                
                            </p>

                            <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                       

                            <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                                <img src="/images/Avatar-images/female-avatar.png" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                                <div class="d-flex gap-2 w-100 justify-content-center">
                                  <div>
                                    <h6 class="mb-0 client-name">JPriya S.</h6>
                                    <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                                  </div>
                                
                                </div>
                              </a>
                       
                        </div>

                     
                </div>
                  
        
            </swiper-slide>
            <swiper-slide> 

                    <div class="card">

                    <div class="card-content">

                        <i class="fa-solid fa-quote-left"></i>

                        <p class="gray-description-font">
                           As an Ayurvedic practitioner, I recommend A2 milk for balance and digestion. DK Dairy’s milk is pure and aligns perfectly with our traditional values.

                        </p>

                        <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                   

                        <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                            <img src="/images/Avatar-images/male-avatar.png" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                              <div>
                                <h6 class="mb-0 client-name">Dr. Nilesh R.</h6>
                                <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                              </div>
                            
                            </div>
                          </a>
                   
                    </div>

                  
                    </div>
            
            </swiper-slide>
            <swiper-slide>
        
                    <div class="card">

                    <div class="card-content">

                        <i class="fa-solid fa-quote-left"></i>

                        <p class="gray-description-font">
                          I avoided milk for years due to discomfort. Since switching to DK Dairy’s A2 milk, I feel great and no longer miss my morning chai!

                        </p>

                        <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                   

                        <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                            <img src="/images/Avatar-images/female-avatar.png" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                              <div>
                                <h6 class="mb-0 client-name">Ankita M.</h6>
                                <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                              </div>
                            
                            </div>
                          </a>
                    </div>

                  
                    </div>
        
            </swiper-slide>
            <swiper-slide>
                    
                    <div class="card">

                    <div class="card-content">

                        <i class="fa-solid fa-quote-left"></i>

                        <p class="gray-description-font">
                         My parents love the taste and feel energetic. Their digestion has improved since we started using A2 milk and ghee from DK Dairy

                        </p>

                        <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                   

                        <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                            <img src="/images/Avatar-images/male-avatar.png" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                              <div>
                                <h6 class="mb-0 client-name">Rohan T.</h6>
                                <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                              </div>
                            
                            </div>
                          </a>
                   
                    </div>

                 
                    </div>
        
            </swiper-slide>

            <swiper-slide>
                <div class="card">

                    <div class="card-content">

                        <i class="fa-solid fa-quote-left"></i>

                        <p class="gray-description-font">
                          The A2 butter and ghee add such rich flavor to my recipes. My clients notice the difference!

                        </p>

                        <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                   

                        <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                            <img src="/images/Avatar-images/female-avatar.png" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                              <div>
                                <h6 class="mb-0 client-name">Chef Lata V.</h6>
                                <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                              </div>
                            
                            </div>
                          </a>
                   
                    </div>

                     
                    </div>
        
            </swiper-slide>

            <swiper-slide>
                <div class="card">

                    <div class="card-content">

                        <i class="fa-solid fa-quote-left"></i>

                        <p class="gray-description-font">
                          We’ve tried several brands, but nothing compares to the purity and freshness of DK Dairy milk. It’s a staple in our home now.

                        </p>

                        <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                   

                        <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                            <img src="/images/Avatar-images/male-avatar.png" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                              <div>
                                <h6 class="mb-0 client-name">The Deshmukh Family</h6>
                                <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                              </div>
                            
                            </div>
                          </a>
                   
                    </div>

                  
                    </div>
            </swiper-slide>



            <swiper-slide>
        
                <div class="card">

                    <div class="card-content">

                        <i class="fa-solid fa-quote-left"></i>

                        <p class="gray-description-font">
                         Love the convenience! The milk arrives fresh every morning, on time, without fail. Consistency you can count on.

                        </p>

                        <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                   

                        <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                            <img src="/images/Avatar-images/male-avatar.png" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                              <div>
                                <h6 class="mb-0 client-name">Rahul S.</h6>
                                <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                              </div>
                            
                            </div>
                          </a>
                   
                    </div>


                    </div>
        
            </swiper-slide>
            <swiper-slide>
        
                <div class="card">

                    <div class="card-content">

                        <i class="fa-solid fa-quote-left"></i>

                        <p class="gray-description-font">
                          I care about how my food is sourced. DK Dairy’s ethical approach to farming and natural care for their cows really impressed me.

                        </p>

                        <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                   

                        <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                            <img src="/images/Avatar-images/female-avatar.png" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                              <div>
                                <h6 class="mb-0 client-name">Megha D.</h6>
                                <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                              </div>
                            
                            </div>
                          </a>
                   
                    </div>


                   
                    </div>
        
            </swiper-slide>

            <swiper-slide>
                <div class="card">

                    <div class="card-content">

                        <i class="fa-solid fa-quote-left"></i>

                        <p class="gray-description-font">
                          Switching to DK Dairy’s A2 milk was part of my journey to a more natural lifestyle. It’s clean, nourishing, and I can truly feel the difference every day.

                        </p>

                        <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                   

                        <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                            <img src="/images/Avatar-images/female-avatar.png" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                              <div>
                                <h6 class="mb-0 client-name">Sneha P.</h6>
                                <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                              </div>
                            
                            </div>
                          </a>
                   
                    </div>

                   

                    </div>
            </swiper-slide>
            
            
            <swiper-slide>
        
                <div class="card">

                    <div class="card-content">

                        <i class="fa-solid fa-quote-left"></i>

                        <p class="gray-description-font">
                         As a nutritionist, I’m impressed with the quality of DK Dairy’s A2 milk. It’s not just marketing—it genuinely supports gut health and overall well-being.

                        </p>

                        <div class="rating-section "><rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating></div>
                   

                        <a href="#" class="list-group-item list-group-item-action gap-3 py-3 client-detail" aria-current="true">
                            <img src="/images/Avatar-images/male-avatar.png" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                            <div class="d-flex gap-2 w-100 justify-content-center">
                              <div>
                                <h6 class="mb-0 client-name"> Dr. Arvind K.</h6>
                                <p class="mb-0 opacity-75 client-status gray-description-font">Happy Client</p>
                              </div>
                            
                            </div>
                          </a>
                   
                    </div>


                   

                    </div>
            </swiper-slide>
        
          </swiper-container>
        
        
        
        </div>

    </div>

</div>