<div class="container-fluid pricing-packages">


        <div class="container pricing-packages-container">

                <div class="row">

                        <div class="col-md-4 column-1">

                            
                            <h2 class="yellow-text" data-aos="fade-in"  data-aos-delay="0" data-aos-duration="1000">Choose a Package</h2>
                            <h1 class="blue-big-font" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">Our Dairy Pricing</h1>
                            <p class="gray-description-font" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                            
                            <div class="card" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">

                                <div class="card-image-container">
                                    <i class="fa-solid fa-award"></i>
                                </div>
                                <div class="card-content">

                                    <h1 class="card-title blue-big-font">100% Guarantee</h1>
                                    <p class="gray-description-font">Vestibulum in eros at lectus commodo</p>
                                </div>


                            </div>

                            <div class="card" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">

                                <div class="card-image-container">
                                    <i class="fa-solid fa-user-tie"></i>
                                </div>
                                <div class="card-content">

                                    <h1 class="card-title blue-big-font">Professional staff</h1>
                                    <p class="gray-description-font">Vestibulum in eros at lectus commodo</p>
                                </div>


                            </div>

                            <div class="card" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">

                                <div class="card-image-container">
                                    <i class="fa-solid fa-money-bill"></i>
                                </div>
                                <div class="card-content">

                                    <h1 class="card-title blue-big-font">Affordable Price</h1>
                                    <p class="gray-description-font">Vestibulum in eros at lectus commodo</p>
                                </div>


                            </div>




                        </div>

                        
                        <div class="col-md-4 column">

                            <!-- package card  -->
                            <div class="package-card" data-aos="slide-up"  data-aos-delay="0" data-aos-duration="1000">

                                <h1 class="pakage-name blue-big-font">Basic Plan</h1>
                                <hr class="separator">
                                <p class="package-price"><span class="blue-big-font">$10</span>/package</p>
                                <div class="package-features mb-5">
    
                                    <div class="package-features-item"> 
                                        <i class="fa-solid fa-circle-check orange-icon"></i>
                                        <p class="gray-description-font">Donec commodo maximus euismod</p>
                                    </div>
                                    <hr class="feature-list-separator">
                                    <div class="package-features-item"> 
                                        <i class="fa-solid fa-circle-check orange-icon"></i>
                                        <p class="gray-description-font">Pellentesque accumsan dolor nulla</p>
                                    </div>
                                    <hr class="feature-list-separator">
                                    <div class="package-features-item"> 
                                        <i class="fa-solid fa-circle-xmark orange-icon"></i>
                                        <p class="gray-description-font">Aliquam maximus vestibulum libero</p>
                                    </div>
                                    <hr class="feature-list-separator">
                                    <div class="package-features-item"> 
                                        <i class="fa-solid fa-circle-xmark orange-icon"></i>
                                        <p class="gray-description-font">Aliquam maximus vestibulum libero</p>
                                    </div>
                                    <hr class="feature-list-separator">
                                    <div class="package-features-item"> 
                                        <i class="fa-solid fa-circle-xmark orange-icon"></i>
                                        <p class="gray-description-font">Maecenas tempor tellus fermentum</p>
                                    </div>
              
                                </div>

                                <button class="orange-button">Purchase Now</button>
                            </div>

                           
                            
                        </div>

                        
                        <div class="col-md-4 column">
                            <!-- package card  -->
                            <div class="package-card" data-aos="slide-up"  data-aos-delay="0" data-aos-duration="1000">

                                <h1 class="pakage-name blue-big-font">Premium Plan</h1>
                                <hr class="separator">
                                <p class="package-price"><span class="blue-big-font">$20</span>/package</p>
                                <div class="package-features mb-5">

                                    <div class="package-features-item"> 
                                        <i class="fa-solid fa-circle-check orange-icon"></i>
                                        <p class="gray-description-font">Donec commodo maximus euismod</p>
                                    </div>
                                    <hr class="feature-list-separator">
                                    <div class="package-features-item"> 
                                        <i class="fa-solid fa-circle-check orange-icon"></i>
                                        <p class="gray-description-font">Pellentesque accumsan dolor nulla</p>
                                    </div>
                                    <hr class="feature-list-separator">
                                    <div class="package-features-item"> 
                                        <i class="fa-solid fa-circle-xmark orange-icon"></i>
                                        <p class="gray-description-font">Aliquam maximus vestibulum libero</p>
                                    </div>
                                    <hr class="feature-list-separator">
                                    <div class="package-features-item"> 
                                        <i class="fa-solid fa-circle-xmark orange-icon"></i>
                                        <p class="gray-description-font">Aliquam maximus vestibulum libero</p>
                                    </div>
                                    <hr class="feature-list-separator">
                                    <div class="package-features-item"> 
                                        <i class="fa-solid fa-circle-xmark orange-icon"></i>
                                        <p class="gray-description-font">Maecenas tempor tellus fermentum</p>
                                    </div>

                                </div>

                                <button class="orange-button">Purchase Now</button>
                            </div>
                                                        
                        </div>




                </div>




        </div>

</div>