/* updadown animation  */
@keyframes updown {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-10px); }
    50%  { transform: translateY(0); }
    75%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }

.blue-button{

  font-family: "Commissioner", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  fill: white;
  color: white;
  background-color: #3c86cb;
  border-radius: 0px 30px 0px 30px;
  padding: 20px 40px 20px 40px;
  border: none;

}



.blue-button:hover{
    
  animation: updown 2.5s linear infinite;
}


/*selector for off hover effect*/
.blue-button.no-animation:hover {
  animation: none;
}


.orange-button{

  font-family: "Commissioner", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  fill: white;
  color: white;
  background-color: #f7a800;
  border-radius: 0px 30px 0px 30px;
  padding: 20px 40px 20px 40px;
  border: none;
  width: 100%;

}


.orange-button:hover{
    
  animation: updown 2.5s linear infinite;
}
