

<div class="container-fluid testimonials">


        <div class="container testimonial-container">

            <div class="row">

                <div class="col-md-6 column-left">

                    
                    <div class="left-column-content">

                        <h3 class="yellow-text">Our Advantages</h3>
                        <h1 class="blue-big-font">Unleash the Magic of Farm-Crafted Dairy</h1>
                        <p class="gray-description-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus tempus sapien, et porttitor nisl. Integer mauris sem, imperdiet et erat nec, aliquet pretium neque.</p>
                        <button class="blue-button our-advatages-btn">View All Products <i class="fa fa-arrow-right"></i></button>



                    </div>


                </div>
                <div class="col-md-6 column-right">

                 

                    <swiper-container slides-per-view="1" speed="500" loop="true" css-mode="true" navigation="true">
                        <swiper-slide>


                                <div style="height: 100px;width: 100%;background-color: red;">

                                </div>

                        </swiper-slide>
                        <swiper-slide>

                            <div style="height: 100px;width: 100%;background-color: yellow;">
                            </div>
                        </swiper-slide>
                        <swiper-slide>

                            <div style="height: 100px;width: 100%;background-color: green;">
                            </div>

                        </swiper-slide>
                 
                      </swiper-container>










         
                </div>



            </div>


        </div>



</div>