.testimonials{

    height: auto;
    display: flex;
    align-items: center;
  background-color: #F0FCFF;
  padding: 250px 0px 200px 0px;
  position: relative;
  
  top:-70px;
  margin-bottom: 120px;
  }


.column-left{
  
    padding: 40px;
    background-color: #F0FCFF;;
}

.left-column-content{

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.left-column-content>button{

    align-self: flex-start;

}


.column-right{

    padding: 40px 50px 10px 50px;
    box-shadow: 10px 15px 20px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
    
}





/* right side card carousal */





    .card-container{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
    }
    .circle-container {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;
        border: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      }
  
      .circle-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

      .card-container>p{
        text-align: center;


      } 

      swiper-container {
        width: 100%;
        height: 100%;
      }
  
      swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }


/*---------------------------------------------------------*/
      .company-names{

      
        height: auto;
        width: 100%;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        padding:5px 10px 25px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 5px 10px 25px 0px rgba(0, 0, 0, 0.1);
        border-radius: 30px 30px 30px 30px;
        overflow: hidden;
        background-color: white;
        
      }

      .company-img{
        height: auto;
      width: 100%;
     max-width: 100%;
     border: none;
     box-shadow: none;

      }
/*---------------------------------------------------------*/


.top-shape{

  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
  top: -1px;
  z-index: 1;

}

.top-shape>svg{

  height: 50px;
  width: 100%;

}

/*---------------------------------------------------------*/

    
      .bottom-shape{

        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
        line-height: 0;
        direction: ltr;
        bottom: -1px;
        transform: rotate(180deg);
        z-index: 1;

      }
      
      .bottom-shape>svg{

        height: 50px;
        width: 100%;

      }



     

          /*for desktop and laptop and all other big screen*/

    @media screen and (min-width: 1024px)  {}      


    /*for Tablet*/
 
     @media screen and (max-width: 1024px) {
        .column-left{
          width: 100%;
        }

        .column-right{
          width: 100%;
        }

     } 
 
   
     /*for mobile screen */
     @media screen and (max-width: 600px) {


      .swiper-button-next{

          right: 10px;

      }

      .testimonials{


        padding: 150px 20px 120px 20px;
      }
      

     } 
 
       
     