<div class="container-fluid our-expert">

        <div class="container our-expert-container">

                <div class="row">

                        <div class="col-md-4 card" data-aos="slide-up"  data-aos-delay="100" data-aos-duration="1000">
                            <div class="img-container" >

                                <img src="images/card-images/Team-1.jpg" alt="">

                            </div>
                           
                            
                            <div class="expert-details mb-3" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
                                    <h1 class="big-white-text">James Edward</h1>
                                   
                                    <p>Dairy Farmer</p>

                            </div>
                            <div class="social-icons" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">
                                <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                                  <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://twitter.com" target="_blank" aria-label="Twitter">
                                  <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                                  <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
                                  <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="https://youtube.com" target="_blank" aria-label="LinkedIn">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                              </div>

                        </div>
                        <div class="col-md-4 card"  data-aos="slide-up"  data-aos-delay="200" data-aos-duration="1000">

                            <div class="img-container">

                                <img src="images/card-images/Team-2.jpg" alt="">

                            </div>
                            
                            <div class="expert-details mb-3" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">
                                    <h1 class="big-white-text">Tony Adam</h1>
                                   
                                    <p>Dairy Farmer</p>

                            </div>
                            <div class="social-icons" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">
                                <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                                  <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://twitter.com" target="_blank" aria-label="Twitter">
                                  <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                                  <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
                                  <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="https://youtube.com" target="_blank" aria-label="LinkedIn">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                              </div>

                        </div>
                        <div class="col-md-4 card" data-aos="slide-up"  data-aos-delay="300" data-aos-duration="1000">

                            <div class="img-container" >

                                <img src="images/card-images/Team-3.jpg" alt="">

                            </div>
                            
                            <div class="expert-details mb-3" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">
                                    <h1 class="big-white-text">Alex Martin</h1>
                                   
                                    <p>Dairy Farmer</p>

                            </div>
                            <div class="social-icons" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">
                                <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                                  <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://twitter.com" target="_blank" aria-label="Twitter">
                                  <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                                  <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
                                  <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="https://youtube.com" target="_blank" aria-label="LinkedIn">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                              </div>

                        </div>



                        <div class="col-md-4 card" data-aos="slide-up"  data-aos-delay="0" data-aos-duration="1000">

                            <div class="img-container">

                                <img src="images/card-images/Team-4.jpg" alt="">

                            </div>
                            
                            <div class="expert-details mb-3" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">
                                    <h1 class="big-white-text">Sam Daniel</h1>
                                   
                                    <p>Dairy Farmer</p>

                            </div>
                            <div class="social-icons" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">
                                <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                                  <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://twitter.com" target="_blank" aria-label="Twitter">
                                  <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                                  <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
                                  <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="https://youtube.com" target="_blank" aria-label="LinkedIn">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                              </div>

                        </div>
                        <div class="col-md-4 card" data-aos="slide-up"  data-aos-delay="200" data-aos-duration="1000">

                            <div class="img-container" >

                                <img src="images/card-images/Team-5.jpg" alt="">

                            </div>
                            
                            <div class="expert-details mb-3" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">
                                    <h1 class="big-white-text">Jhony Park</h1>
                                   
                                    <p>Dairy Farmer</p>

                            </div>
                            <div class="social-icons" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">
                                <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                                  <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://twitter.com" target="_blank" aria-label="Twitter">
                                  <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                                  <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
                                  <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="https://youtube.com" target="_blank" aria-label="LinkedIn">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                              </div>

                        </div>
                        <div class="col-md-4 card"  data-aos="slide-up"  data-aos-delay="300" data-aos-duration="1000">

                            <div class="img-container">

                                <img src="images/card-images/Team-6.jpg" alt="">

                            </div>
                            
                            <div class="expert-details mb-3" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">
                                    <h1 class="big-white-text">Dany Muller</h1>
                                   
                                    <p>Dairy Farmer</p>

                            </div>
                            <div class="social-icons" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">
                                <a href="https://facebook.com" target="_blank" aria-label="Facebook">
                                  <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://twitter.com" target="_blank" aria-label="Twitter">
                                  <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://instagram.com" target="_blank" aria-label="Instagram">
                                  <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
                                  <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a href="https://youtube.com" target="_blank" aria-label="LinkedIn">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                              </div>

                        </div>

                        


                </div>


        </div>


</div>