<div class="container-fluid blog-and-news">
  <h3
    class="yellow-text"
    data-aos="fade-in"
    data-aos-delay="0"
    data-aos-duration="1000"
  >
    Blog and News
  </h3>
  <h1
    class="mb-5 blue-big-font"
    data-aos="fade-up"
    data-aos-delay="0"
    data-aos-duration="2000"
  >
    Special Information
  </h1>

  <div class="container blog-and-news-container">
    <div class="row">
      <div
        class="col-md-4 card"
        data-aos="slide-up"
        data-aos-delay="0"
        data-aos-duration="1000"
      >
        <img
          class="card-image"
          src="images/card-images/blog-and-news-1.jpg"
          alt=""
        />

        <span class="image-tag">Information</span>

        <div class="card-body">
          <h1 class="card-heading">
            Generations of Dedication to Quality on Our Cow Farm
          </h1>

          <div class="role-and-date-container">
            <div class="item">
              <i class="fa fa-user"></i>
              <span class="gray-description-font">admin</span>
            </div>

            <div class="item">
              <i class="fa-regular fa-calendar"></i>
              <span class="gray-description-font">August 11, 2023</span>
            </div>
          </div>

          <p class="gray-description-font">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu
            lectus nunc. Interdum et malesuada fames ac ante ipsum primis in
            faucibus. Class aptent taciti sociosqu ad litora torquent per…
          </p>

          <a href="" class="blue-link-text-to-yellow"
            >Read More &nbsp; &nbsp;<i class="fa fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <div
        class="col-md-4 card"
        data-aos="slide-up"
        data-aos-delay="0"
        data-aos-duration="1000"
      >
        <img
          class="card-image"
          src="images/card-images/blog-and-news-1.jpg"
          alt=""
        />

        <span class="image-tag">Information</span>
        <div class="card-body">
          <h1 class="card-heading">
            Generations of Dedication to Quality on Our Cow Farm
          </h1>

          <div class="role-and-date-container">
            <div class="item">
              <i class="fa fa-user"></i>
              <span class="gray-description-font">admin</span>
            </div>

            <div class="item">
              <i class="fa-regular fa-calendar icon"></i>
              <span class="gray-description-font">August 11, 2023</span>
            </div>
          </div>

          <p class="gray-description-font">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu
            lectus nunc. Interdum et malesuada fames ac ante ipsum primis in
            faucibus. Class aptent taciti sociosqu ad litora torquent per…
          </p>

          <a href="" class="blue-link-text-to-yellow"
            >Read More &nbsp; &nbsp;<i class="fa fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <div
        class="col-md-4 column-3"
        data-aos="slide-up"
        data-aos-delay="0"
        data-aos-duration="1000"
      >
        <div class="column-3-header">
          <h1 class="blue-big-font">Tips & Trick</h1>

          <p class="gray-description-font">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>

        <div class="column-3-card-container">
          <h3 class="column-3-card-header">
            Generations of Dedication to Quality on Our Cow Farm
          </h3>
          <div class="column-3-card-content">
            <i class="fa-regular fa-calendar icon"></i>
            <span class="gray-description-font icon">August 11, 2023 </span>
          </div>
        </div>

        <div class="column-3-card-container">
          <h3 class="column-3-card-header">
            Generations of Dedication to Quality on Our Cow Farm
          </h3>
          <div class="column-3-card-content">
            <i class="fa-regular fa-calendar icon"></i>
            <span class="gray-description-font">August 11, 2023 </span>
          </div>
        </div>

        <div class="column-3-card-container">
          <h3 class="column-3-card-header">
            Generations of Dedication to Quality on Our Cow Farm
          </h3>
          <div class="column-3-card-content">
            <i class="fa-regular fa-calendar icon"></i>
            <span class="gray-description-font">August 11, 2023 </span>
          </div>
        </div>

        <button class="blue-button column-3-button">
          Read More&nbsp;&nbsp;<i class="fa fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>
