<div class="container-fluid our-services">


    <div class="row our-services-row">

        <div class="col-md-4 column-1">

            <img src="images/background-images/home-our-service-img-1.jpg" alt="">

        </div>
        <div class="col-md-4 column-2">

                <div class="column-2-content">

                    <h3 class="yellow-text">Farm Services</h3>
                    <h1 class="blue-big-font">The Eco-Friendly Practices on Our Cow Farm</h1>
                    <div class="list-item mb-3"><i class="fa-solid fa-check" style="color: #FFD43B;"></i><span class="gray-description-font">Maecenas tempor at tellus nec fermentum</span></div>
                    <div class="list-item mb-3"><i class="fa-solid fa-check" style="color: #FFD43B;"></i><span class="gray-description-font">Donec commodo maximus orci vel euismod</span></div>
                    <div class="list-item mb-3"><i class="fa-solid fa-check" style="color: #FFD43B;"></i><span class="gray-description-font">Aliquam maximus vestibulum libero dignissim</span></div>
                    <button class="blue-button">Read More <i class="fa fa-arrow-right"></i></button>

                </div>



        </div>
        <div class="col-md-4 column-3">

                <img src="images/background-images/home-our-service-img-2.jpg" alt="">

                <h3>Holistic Cow Care Service</h3>

                <div class="column3-count">

                    <div class="column3-count-item"><h1>65+</h1><p class="gray-description-font">Nulla condimentum commodo dui</p></div>
                    <div class="column3-count-item"><h1>99%</h1><p class="gray-description-font">Quisque euismod pretium purus</p></div>

                </div>




        </div>




    </div>


</div>