<div class="container-fluid our-services">


    <div class="row our-services-row">

        <div class="col-md-4 column-1" data-aos="slide-right">

            <img src="images/background-images/homepage-our-service-img-1.webp" alt="">

        </div>
        <div class="col-md-4 column-2">

                <div class="column-2-content">

                    <h3 class="yellow-text" data-aos="fade-in" data-aos-duration="0" class="yellow-text">Our Services</h3>
                    <h1 class="blue-big-font" data-aos="fade-up" data-aos-duration="500" class="blue-big-font">Fresh Dairy, Delivered with Care</h1>
                    <div class="list-item mb-3" data-aos="fade-up" data-aos-duration="1000"><i class="fa-solid fa-check" style="color: #FFD43B;"></i><span class="gray-description-font">Fresh Daily Delivery Across Pune</span></div>
                    <div class="list-item mb-3" data-aos="fade-up" data-aos-duration="1000"><i class="fa-solid fa-check" style="color: #FFD43B;"></i><span class="gray-description-font">Farm to Home Promise</span></div>
                    <div class="list-item mb-3"data-aos="fade-up" data-aos-duration="1000"><i class="fa-solid fa-check" style="color: #FFD43B;"></i><span class="gray-description-font">Ethical Farming Practices</span></div>
                    <!-- <button class="blue-button" data-aos="fade-up" data-aos-duration="1500" class="blue-button">Read More &nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button> -->

                </div>



        </div>
        <div class="col-md-4 column-3">

                <img src="images/background-images/home-our-service-img-2.webp" alt="" data-aos="fade-up" data-aos-duration="0">

                <h3 data-aos="fade-up" data-aos-duration="1000">Cows Raised with Love & Care</h3>

                <div class="column3-count" data-aos="fade-up" data-aos-duration="1000"> 

                    <div class="column3-count-item"><h1>100+</h1><p class="gray-description-font">Happy Families Served Daily</p></div>
                    <div class="column3-count-item"><h1>99%</h1><p class="gray-description-font">Customer Satisfaction</p></div>

                </div>




        </div>




    </div>


</div>