<nav class="navbar navbar-expand-xl ">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button"  (click)="toggleNavbar()" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->

        <span *ngIf="!isNavbarOpen">&#9776;</span> <!-- Hamburger -->
        <span *ngIf="isNavbarOpen">&times;</span>   <!-- X -->
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" data-bs-toggle="collapse" (click)="closeNavbar()" routerLink="/home"  routerLinkActive="active-link"  href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" (click)="closeNavbar()" routerLink="/about-us" routerLinkActive="active-link" href="#">About us</a>
          </li>
          <li class="nav-item dropdown"
            routerLinkActive="active-down"
            [routerLinkActiveOptions]="{ exact: false }"
          >
            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Pages <i class="fa fa-angle-down" style="font-size: 15px;"></i>
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" (click)="closeNavbar()" routerLink="/pages/faq" routerLinkActive="active-link">FAQ</a></li>
                <li><a class="dropdown-item" href="#" (click)="closeNavbar()"  routerLink="/pages/product" routerLinkActive="active-link">Product</a></li>
                <li><a class="dropdown-item" href="#" (click)="closeNavbar()"  routerLink="/pages/team" routerLinkActive="active-link">Team</a></li>
                <li><a class="dropdown-item" href="#" (click)="closeNavbar()" routerLink="/pages/pricing" routerLinkActive="active-link">Pricing</a></li>
                <li><a class="dropdown-item" href="#" (click)="closeNavbar()" routerLink="/pages/video-gallery"  routerLinkActive="active-link">Video-Gallery</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown"  routerLinkActive="active-down"
          [routerLinkActiveOptions]="{ exact: false }">
            <a class="nav-link " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Blog <i class="fa fa-angle-down" style="font-size: 15px;"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#"  routerLink="/blog" routerLinkActive="active-link" (click)="closeNavbar() ">Single Post</a></li>
               
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#" routerLink="/contact-us"  routerLinkActive="active-link" (click)="closeNavbar()">Contact</a>
        </li>
        
        
      </ul>

        
    
        
      </div>
    </div>
    <button class="navbar-button no-animation blue-button" routerLink="/contact-us">Contact Us &nbsp;&nbsp; <i class="fa fa-arrow-right right-arrow"></i></button>

  </nav>