<div class="container-fluid pages-faq">


    <div class="row pages-faq-row">

        <div class="col-md-7 left-column">

            <h2 class="yellow-text accordion-container-heading" data-aos="fade-in"  data-aos-delay="0" data-aos-duration="1000" data-aos-anchor-placement="top-bottom" data-aos-offset="-120"
            >Have a Question?</h2>
            <h1 class="blue-big-font accordion-container-sub-heading mb-5" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000" data-aos-anchor-placement="top-bottom" data-aos-offset="-120">General Questions</h1>

            <div class="custom-accordion" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="-120"  data-aos-delay="0" data-aos-duration="1000">
                
                
                <div class="accordion-item">
                   <div class="accordion-header" [ngClass]="{ 'active-accordion-header': activeIndex === 1 }"
                    (click)="toggleSection(1)">
                    <span>What is A2 milk, and how is it different from regular milk?</span>
                    <span class="accordion-header-icon">{{ activeIndex === 1 ? '−' : '+' }}</span>
               </div>
                  <div class="accordion-body" [class.show]="activeIndex === 1">
                    <p class="gray-description-font">
                      
                       A2 milk is milk that contains only the A2 beta-casein protein, unlike regular milk which often contains a mix of A1 and A2 proteins.
                        A2 milk is easier to digest and may be gentler on the stomach, especially for people with milk sensitivities.
                        It’s also believed to reduce bloating and discomfort commonly caused by A1 milk.                        
                    </p>
                  </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-header" [ngClass]="{ 'active-accordion-header': activeIndex === 2 }"
                    (click)="toggleSection(2)">
                    <span>Why should I choose DK Dairy Farm for A2 milk?</span>
                    <span class="accordion-header-icon">{{ activeIndex === 2 ? '−' : '+' }}</span>
               </div>
                  <div class="accordion-body" [class.show]="activeIndex === 2">
                    <p class="gray-description-font">
                      
                       At DK Dairy Farm, we prioritize purity, health, and tradition. 
                       Our milk comes exclusively from ethically raised Gir cows, is free from preservatives and hormones,
                       and is delivered fresh daily across Pune. 
                       With us, you get real farm-to-home freshness and a promise of uncompromised quality.
                    </p>
                  </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-header"  [ngClass]="{ 'active-accordion-header': activeIndex === 3 }"
                    (click)="toggleSection(3)">
                    <span>Is your milk pasteurized or raw?</span>
                    <span class="accordion-header-icon">{{ activeIndex === 3 ? '−' : '+' }}</span>
               </div>
                  <div class="accordion-body" [class.show]="activeIndex === 3">
                    <p class="gray-description-font">
                      
                        We provide fresh, raw A2 milk to ensure maximum nutritional value. 
                        It's delivered straight from our farm under strict hygiene standards.
                        If you prefer pasteurized milk, we recommend boiling the milk before use as an added safety measure.                        
                    </p>
                  </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-header" [ngClass]="{ 'active-accordion-header': activeIndex === 4 }"
                    (click)="toggleSection(4)">
                    <span>How do you ensure the quality and safety of the milk?</span>
                    <span class="accordion-header-icon">{{ activeIndex === 4 ? '−' : '+' }}</span>
               </div>
                  <div class="accordion-body" [class.show]="activeIndex === 4">
                    <p class="gray-description-font">
                      
                        Our Gir cows are naturally grazed and cared for with ethical farming practices. 
                        Each batch of milk is collected in sterile conditions, packaged immediately, and delivered within hours.
                        We do not use any preservatives, additives, or artificial enhancers—just pure milk, the way nature intended.                        
                    </p>
                  </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-header"  [ngClass]="{ 'active-accordion-header': activeIndex === 5 }"
                    (click)="toggleSection(5)">
                    <span>What products do you offer besides A2 milk?</span>
                    <span class="accordion-header-icon">{{ activeIndex === 5 ? '−' : '+' }}</span>
               </div>
                  <div class="accordion-body" [class.show]="activeIndex === 5">
                    <p class="gray-description-font">
                      
                        Along with fresh A2 milk, we offer a range of traditional dairy products:<br/>
                        1. A2 Ghee (made using the bilona method) <br/>
                        2. A2 Butter (hand-churned for rich taste) <br/>
                        3. A2 Curd (naturally fermented and probiotic-rich) <br/>
                        
                        All our products are crafted with care to retain their natural flavor and health benefits.

                    </p>                 
                  
                  </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-header"  [ngClass]="{ 'active-accordion-header': activeIndex === 6 }"
                      (click)="toggleSection(6)">
             
                      <span>How can I start getting milk delivered to my home?</span>
                      <span class="accordion-header-icon">{{ activeIndex === 6 ? '−' : '+' }}</span>
                    </div>
                  <div class="accordion-body" [class.show]="activeIndex === 6">
                    <p class="gray-description-font">
                      
                      Getting started is easy! Simply contact us through our website or WhatsApp to set up your delivery schedule.
                      We offer daily fresh milk delivery across Pune, with flexible plans to suit your household needs.                        
                    </p>
                  </div>
                </div>


            </div>
            

            <button class="blue-button" data-aos="fade-up" routerLink="/contact-us"  data-aos-anchor-placement="top-bottom" data-aos-duration="1500" >Contact us &nbsp;&nbsp; <i class="fa fa-arrow-right"></i></button>
              



        </div>

        <div class="col-md-5 right-column">

            


            
        </div>


    </div>

  

</div>