<div class="container-fluid contact-us-from">


    <div class="container contact-us-from-container">



        <div class="row">

            <div class="col-md-5 left-column" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">


                <h3 class="yellow-text" >For more Information</h3>
                <h1 class="blue-big-font">Hey, let's talk!</h1>
                <p class="gray-description-font">If you have any questions or problems simply use the
                     following contact details.</p>

                
                    <div class="contact-details-item mb-3">
                        <div class="contact-details-item-header mb-2">
                            <i class="fa-solid fa-location-dot"></i>    
                            <span>Office Address</span>
                        </div>
                        <p class="gray-description-font office-address-text">{{officeAddress}}</p>
                    </div>

                    <div class="contact-details-item mb-3">
                        <div class="contact-details-item-header mb-2">
                            <i class="fa-solid fa-envelope"></i>
                            <span  >Email Support</span>
                        </div>
                        <p  class="card-content"> <a [href]="'mailto:' + emailId" class="contact-link gray-description-font">{{emailId}}</a></p>
                    </div>


                    <div class="contact-details-item mb-3">
                        <div class="contact-details-item-header mb-2" >
                            <i class="fa-solid fa-phone"></i>   
                            <span>Phone Number</span>
                        </div>
                        <p><a [href]="'tel:' + phoneNumber" class="contact-link gray-description-font">{{phoneNumber}}</a></p>
                    </div>

                    
                    <div class="contact-details-item ">
                        <div class="contact-details-item-header mb-2">
                            <i class="fa-solid fa-cow"></i>  
                            <span>Farm Address</span>
                        </div>
                        <p class="gray-description-font office-address-text">{{farmAddress}}</p>
                    </div>


                     


                    <hr>


                    <!--  for mail icon  -->

                <!-- <i class="fa-solid fa-phone"></i> -->

                    <h2 class="contact-us-description">We will get back to you within 24 hours, or call us everyday 09:00AM - 10:00PM</h2>

            </div>

            <div class="col-md-7 right-column" data-aos="fade-in">


                <h1 class="blue-big-font form-header"    >Send Us A Message</h1>
                <p class="gray-description-font form-sub-header"   >Please fill out the form below and our expert team will get back to you shortly.</p>

                <form class="needs-validation"  [formGroup]="form" (ngSubmit)="onSubmit()" novalidate >
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="firstName">First name <span>*</span></label>
                        <input type="text" formControlName="firstName"  class="form-control" id="firstName" placeholder="First name here" value="" required="">
                        <div>
                          <div class="error-message-container">
                            <div class="error" *ngIf="f['firstName'].touched && f['firstName'].invalid">
                                <span *ngIf="f['firstName'].errors?.['required']">First name is required.</span>
                                <span *ngIf="f['firstName'].errors?.['minlength']">Minimum 2 characters.</span>
                              </div>
                          </div>
                        </div>


                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="lastName">Last name <span>*</span></label>
                        <input type="text" formControlName="lastName" class="form-control" id="lastName" placeholder="Last name here" value="" required="">
                        <div class="error-message-container">
                        <div class="error" *ngIf="f['lastName'].touched && f['lastName'].invalid">
                            <span>Last name is required.</span>
                            </div>
                        </div>
                      </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6 mb-3">
                          <label for="firstName">Email Address <span>*</span></label>
                          <input type="email" formControlName="email"  class="form-control" id="email" placeholder="Add email" value="" required="">

                          <div class="error-message-container">
                            <div class="error" *ngIf="f['email'].touched && f['email'].invalid">
                                <span *ngIf="f['email'].errors?.['required']">Email is required.</span>
                                <span *ngIf="f['email'].errors?.['email']">Enter a valid email.</span>
                              </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                          <label for="lastName">Subject<span>*</span></label>
                          <input type="text" class="form-control" formControlName="subject"  id="subject" placeholder="How can we help you?" value="" required="">
                          <div class="error-message-container">
                            <div class="error" *ngIf="f['subject'].touched && f['subject'].invalid">
                                <span>Subject is required.</span>
                              </div>
                            </div>
                        </div>

                      </div>
        
                      <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Comments / Questions <span>*</span></label>
                        <textarea class="form-control"formControlName="comments"  id="exampleFormControlTextarea1" cols="30" rows="10" placeholder="Comments" ></textarea>
                      
                    
                        <div class="error-message-container">

                            <div class="error" *ngIf="f['comments'].touched && f['comments'].invalid">
                                <span>Comments are required.</span>
                              </div>
                        </div>
                        </div>
        
                
                    <button class="btn btn-primary btn-lg form-submit-button"  [disabled]="isButtonDisabled" type="submit">Send Message</button>
                  </form>





            </div>






    </div>



    </div>

    


</div>




<!-- Toast Container to show a message to the end user after submiting the contact us form -->
<div class="toast-container position-fixed top-0 end-0 p-3" style="z-index: 1100;">
  <div
    id="liveToast"
    class="toast align-items-center border-0"
    [ngClass]="toastType === 'success' ? 'text-bg-success' : 'text-bg-danger'"
    role="alert"
    aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        {{toastMessage}}
      </div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        data-bs-dismiss="toast"
        aria-label="Close">
      </button>
    </div>
  </div>
</div>