<div class="container-fluid our-sponsorships">

    <div class="container our-sponsorships-container">

                <h3 class="yellow-text header" data-aos="fade-in"  data-aos-delay="0" data-aos-duration="1000">Our Sponsorship</h3>

                <h1 class="blue-big-font sub-header"data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000" >Our Product Partner</h1>

              <!-- company names slider  -->
        <div class="container company-names" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1500">

            <swiper-container
            class="myCompaniesSwiper"
            autoplay="true"
            slides-per-view="5"
            slides-per-group="5"
            loop="true"
            autoplay-delay="3000"
          >
            <swiper-slide>
                    <img class="company-img" src="images/card-images/company-slide-1.png" alt="">
        
            </swiper-slide>
            <swiper-slide> 
                <img  class="company-img" src="images/card-images/company-slide-2.png" alt="">
            </swiper-slide>
            <swiper-slide>
        
                <img class="company-img" src="images/card-images/company-slide-3.png" alt="">
        
            </swiper-slide>
            <swiper-slide>
                <img class="company-img" src="images/card-images/company-slide-4.png" alt="">
        
            </swiper-slide>
            <swiper-slide>
                <img  class="company-img" src="images/card-images/company-slide-5.png" alt="">
        
            </swiper-slide>
            <swiper-slide>
                <img class="company-img" src="images/card-images/company-slide-1.png" alt="">
            </swiper-slide>
            <swiper-slide>
        
                <img class="company-img" src="images/card-images/company-slide-2.png" alt="">
        
            </swiper-slide>
            <swiper-slide>
        
                <img class="company-img" src="images/card-images/company-slide-3.png" alt="">
        
            </swiper-slide>
            <swiper-slide>
                <img class="company-img" src="images/card-images/company-slide-4.png" alt="">
            </swiper-slide>
            <swiper-slide>
        
                <img class="company-img" src="images/card-images/company-slide-5.png" alt="">
            </swiper-slide>
        
          </swiper-container>
        
        
        
        </div>

    </div>

</div>