<div class="container-fluid our-aim">


    <div class="row">


        <div class="col-md-5 column-1">

                    <img src="images/background-images/our-aim.jpg" alt="">



                    <div class="our-aim-content">

                        
                        <h1 class="blue-big-font heading" data-aos="fade-up"  data-aos-offset="-120" data-aos-duration="1000">
                            Sustaining the Land, Sustaining Lives: The Eco-Friendly Practices on Our Cow Farm
                        </h1>
                        <div>

                            <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true" data-aos="fade-up"  data-aos-offset="-120" data-aos-duration="1000">
                                <img src="/images/Avatar-images/avatar-image-2.jpg" alt="" width="70" height="70" class="rounded-circle flex-shrink-0">
                                <div class="d-flex gap-2 w-100 justify-content-between">
                                  <div class="user-details">
                                    <h6 class="mb-0 blue-big-font">Edward Josh</h6>
                                    <p class="mb-0 opacity-75 gray-description-font">Owner Mooly Farm</p>
                                  </div>
                                  <i class="fa-solid fa-quote-right double-qoute-icon"></i>
                                </div>
                              </a>
                        </div>



                    </div>




        </div>



    </div>


</div>