<div class="container-fluid our-advantages">


        <div class="row">


            <div class="col-md-5 column-1">

                        <img src="images/background-images/home-our-advantages-background.webp" alt="">



                        <div class="our-advantages-content">

                            <h3 class="yellow-text" data-aos="fade-in"  data-aos-anchor-placement="top-bottom" data-aos-offset="-120">Our Advantages</h3>
                            <h1 class="blue-big-font" data-aos="fade-up"  data-aos-anchor-placement="top-bottom" data-aos-offset="-120" data-aos-duration="1000">Experience the Magic of Pure, Farm-Crafted A2 Dairy</h1>
                            <p class="gray-description-font" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="-120" data-aos-duration="1000">Every drop of our A2 milk comes from happy, naturally raised Gir cows—rich in nutrition and easy to digest.
                                Fresh from the farm, free from chemicals, and full of goodness you can taste. Discover our range of pure dairy products crafted with the same care and natural goodness.</p>
                           <a href="/pages/product"><button class="blue-button our-advatages-btn" data-aos="fade-up"  data-aos-anchor-placement="top-bottom" data-aos-offset="-120" data-aos-duration="1500">View All Products <i class="fa fa-arrow-right"></i></button></a> 



                        </div>




            </div>



        </div>


</div>