<div class="container-fluid our-advantages">


        <div class="row">


            <div class="col-md-5 column-1">

                        <img src="images/background-images/home-our-advantages-background.jpg" alt="">



                        <div class="our-advantages-content">

                            <h3 class="yellow-text" data-aos="fade-in"  data-aos-anchor-placement="top-bottom" data-aos-offset="-120">Our Advantages</h3>
                            <h1 class="blue-big-font" data-aos="fade-up"  data-aos-anchor-placement="top-bottom" data-aos-offset="-120" data-aos-duration="1000">Unleash the Magic of Farm-Crafted Dairy</h1>
                            <p class="gray-description-font" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-offset="-120" data-aos-duration="1000">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus tempus sapien, et porttitor nisl. Integer mauris sem, imperdiet et erat nec, aliquet pretium neque.</p>
                            <button class="blue-button our-advatages-btn" data-aos="fade-up"  d data-aos-anchor-placement="top-bottom" data-aos-offset="-120" data-aos-duration="1500">View All Products <i class="fa fa-arrow-right"></i></button>



                        </div>




            </div>



        </div>


</div>