<div class="container-fluid our-advantages">


        <div class="row">


            <div class="col-md-5 column-1">

                        <img src="images/background-images/home-our-advantages-background.jpg" alt="">



                        <div class="our-advantages-content">

                            <h3 class="yellow-text">Our Advantages</h3>
                            <h1 class="blue-big-font">Unleash the Magic of Farm-Crafted Dairy</h1>
                            <p class="gray-description-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc finibus tempus sapien, et porttitor nisl. Integer mauris sem, imperdiet et erat nec, aliquet pretium neque.</p>
                            <button class="blue-button our-advatages-btn">View All Products <i class="fa fa-arrow-right"></i></button>



                        </div>




            </div>



        </div>


</div>