<div class="container-fluid pure-benifits">


    <div class="container">


   
    <div class="row pure-benifits-row">


            <div class="col-md-3 column column-1">
               

                    <h3 class="yellow-text" data-aos="fade-in"  data-aos-delay="0" data-aos-duration="0">Pure Benefits</h3>
                    <h1 class="blue-big-font" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">How A2 Products Nourishes Your Body Naturally</h1>
                    <p class="gray-description-font" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">Discover the powerful health benefits of A2 milk and dairy products. From brain to bone, every drop supports your body’s strength, vitality, and balance.</p>
                  <a href="/blog"> <button class="blue-button our-advatages-btn" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="2000">Read More &nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button></a>
            </div>



            <div class="col-md-3 column column-2">

                <div class="column-content" data-aos="fade-up"  data-aos-delay="200" data-aos-duration="300">

                            <img src="images/card-images/brain.png" alt="">
                            <h3 class="blue-big-font">Boosts Brain Power</h3>
                            <p class="gray-description-font">A2 milk contains Omega-3 and proline to enhance memory, focus, and brain development.</p>



                </div>



            </div>
            
            
            <div class="col-md-3 column column-3">

                <div class="column-content" data-aos="fade-up"  data-aos-delay="300" data-aos-duration="300" >

                    <img src="images/card-images/healthy-heart.png" alt="">
                    <h3 class="blue-big-font">Supports Heart Health</h3>
                    <p class="gray-description-font">Rich in good fats, A2 milk helps increase HDL and reduce inflammation naturally.</p>



        </div>

            </div>
            <div class="col-md-3 column column-4">

                <div class="column-content" data-aos="fade-up"  data-aos-delay="400" data-aos-duration="300">

                    <img src="images/card-images/strong-bone.png" alt="">
                    <h3 class="blue-big-font">Builds Strong Bone</h3>
                    <p class="gray-description-font">Packed with calcium and vitamin D, A2 dairy strengthens bones and joints.</p>



        </div>

            </div>






    </div>


</div>


</div>