/* You can add global styles to this file, and also import other style files */

/* updadown animation  */
@keyframes updown {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-10px); }
    50%  { transform: translateY(0); }
    75%  { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }



  /* css for font styles  start */

.yellow-text{

  color: #f8ab13;
  font-family: "Courgette", cursive;
  font-size: 22px;
  font-weight: 500;
  line-height: 0.5em;
}


.blue-big-font{

  color: #103371;
  font-family: "Commissioner", Sans-serif;
  font-size: 45px;
  font-weight: 700;

}

.gray-description-font{
  color: #7a7a7a;
  font-family: "Commissioner";
  font-weight: 400;
  font-size: 15px;
  
}


.blue-button{

  font-family: "Commissioner", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  fill: white;
  color: white;
  background-color: #3c86cb;
  border-radius: 0px 30px 0px 30px;
  padding: 20px 40px 20px 40px;
  border: none;

}

/* 
.header-content-container>button:hover {
  animation: updown 2.5s linear infinite;
} */


.big-white-text{

  color: white;
  font-family: "Commissioner", Sans-serif;
  font-size: 45px;
  font-weight: 700;

}

  /* css for font styles  end */


/*css for shapes*/

.top-shape-image-container{
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
  top: -1px;
  z-index: 2;

}
.top-shape-image-container>svg{

  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 1.3px);
  height: 50px;
}

.bottom-shape-image-container{
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
  bottom: -1px;
  transform: rotate(180deg);
  z-index: 1;

}

.bottom-shape-image-container>svg{

height: 50px;
width: 100%;


}



