

/*css for shapes*/

.top-shape-image-container{
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
  top: -1px;
  z-index: 2;

}
.top-shape-image-container>svg{

  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 1.3px);
  height: 50px;
}

.bottom-shape-image-container{
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
  bottom: -1px;
  transform: rotate(180deg);
  z-index: 1;

}

.bottom-shape-image-container>svg{

height: 50px;
width: 100%;


}

.animated-link:hover{

  animation: updown 2.5s linear infinite;
}




/*css for animations*/

/* //custom fade in animation  */
.fade-in-on-load {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 0.2s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


/* custom fade up animation  */
.fade-up-on-load {
    opacity: 0;
    transform: translateY(40px); /* start slightly lower */
    animation: fadeUp 1s ease forwards;
    animation-delay: 0.3s;
    pointer-events: auto; /* <-- makes sure element is interactable */


}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


