

<div class="container-fluid why-choose-us" >


    <div class="row why-choose-us-row">

        <div class="col-md-6 left-column">

            <div class="left-column-content">


                    <h3 class="yellow-text mb-3" data-aos="fade-in"  data-aos-delay="0" data-aos-duration="1000">Why Choose Us</h3>
                    <h1 class="blue-big-font mb-3" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">Pure. Ethical. Fresh. Here’s Why You’ll Love Us.</h1>
                    <p class="gray-description-font mb-3" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">At DK Dairy Farm, we combine purity, ethical care, and farm-fresh quality in every drop. From naturally raised Gir cows to hormone-free milk, everything we do is rooted in trust, transparency, and a deep respect for your health and our animals.</p>
                    <div class="check-list mb-3">

                        <div class="check-list-item" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000" >
                            <i class="fa-solid fa-square-check checkbox-icon"></i>
                                <div>
                                    <h3 class="list-header">Authentic A2 Purity</h3>
                                    <p class="gray-description-font">100% Pure and Authentic Gir Cow A2 Milk</p>
                                </div>
                        </div>


                        <div class="check-list-item" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000" >
                            <i class="fa-solid fa-square-check checkbox-icon"></i>
                                <div>
                                    <h3 class="list-header">Clean & Natural Dairy</h3>
                                    <p class="gray-description-font">Chemical-free, Preservative-free A2 Ghee, Butter, and Curd</p>
                                </div>
                        </div>


                        <div class="check-list-item" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000" >
                            <i class="fa-solid fa-square-check checkbox-icon"></i>
                                <div>
                                    <h3 class="list-header">Delivered Fresh Daily</h3>
                                    <p class="gray-description-font">Daily Doorstep Delivery Across Pune</p>
                                </div>
                        </div>

                           <div class="check-list-item" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000" >
                            <i class="fa-solid fa-square-check checkbox-icon"></i>
                                <div>
                                    <h3 class="list-header">Farming with Integrity</h3>
                                    <p class="gray-description-font">Ethical, Sustainable, and Transparent Dairy Practices</p>
                                </div>
                        </div>


                    </div>
                  


            </div>

        </div>

        <div class="col-md-6 right-column">

            
        </div>

    </div>



</div>