@import url('../../../../../../public/css/components/fonts.style.css');
@import url('../../../../../../public/css/components/button.style.css');

.why-choose-us{

    margin-top: 120px;
}

.left-column{

    margin: 0px -150px 0px 100px;

    padding: 50px 50px 50px 50px;

}


.left-column-content{

background-color: #f2eded;


position: relative;
z-index: 1;
padding: 40px 40px 40px 50px;
border-radius: 80px 0px 80px 0px;


}

.right-column{
    height: auto;
    background-image: url("../../../../../../public/images/background-images/about-us-cows-on-a-diary-farm.webp");
    background-position: center center;
    background-size: cover;

}

.list-header{


   
    padding: 0px 0px 0px 0px;
    color: #330805;
    font-family: "Commissioner", Sans-serif;
    font-size: 20px;
    font-weight:600;
  
}
.checkbox-icon{

    color: #f8ab13;
    font-size: 25px;

}

.check-list-item{

    display: flex;
    gap: 15px;

}



 /*for desktop and laptop and all other big screen*/

 @media screen and (min-width: 1024px)  {}      


 /*for Tablet*/

  @media screen and (max-width: 1024px) {


    .why-choose-us{

        margin-top: 0px;
    }
    .why-choose-us-row{

        padding: 20px;


    }

    .left-column{

        width: 100%;
        margin: 0px  0px 0px 0px;
        padding: 20px 20px 20px 20px;
    }

    .right-column{

       width: 100%;
       height: 300px;
       margin-top: -60px;
       border-radius: 0px 0px 30px 30px;
    }
  } 

  
  /*for mobile screen */
  @media screen and (max-width: 600px) {


    .why-choose-us{

        margin-top: 0px;
    }
    .why-choose-us-row{

        padding: 20px;
      

    }
    .left-column{

        width: 100%;
        margin: 0px 0px 0px 0px;
        padding: 20px 20px 20px 20px;
    }


    .right-column{

        width: 100%;
        height: 300px;
        margin-top: -60px;
        border-radius: 0px 0px 30px 30px;
        
    }


  } 
