

<div class="container-fluid why-choose-us" >


    <div class="row why-choose-us-row">

        <div class="col-md-6 left-column">

            <div class="left-column-content">


                    <h3 class="yellow-text mb-3">Why Choose Us</h3>
                    <h1 class="blue-big-font mb-3">Unleash the Magic of Farm Crafted Dairy</h1>
                    <p class="gray-description-font mb-3">Curabitur faucibus orci a condimentum pretium. Pellentesque vel libero feugiat nibh cursus consequat vel eu lectus.</p>
                    <div class="check-list mb-3">

                        <div class="check-list-item" >
                            <i class="fa-solid fa-square-check checkbox-icon"></i>
                                <div>
                                    <h3 class="list-header">100% Naturally</h3>
                                    <p class="gray-description-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                        </div>


                        <div class="check-list-item"  >
                            <i class="fa-solid fa-square-check checkbox-icon"></i>
                                <div>
                                    <h3 class="list-header">Best Quality Products</h3>
                                    <p class="gray-description-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                        </div>


                        <div class="check-list-item"  >
                            <i class="fa-solid fa-square-check checkbox-icon"></i>
                                <div>
                                    <h3 class="list-header">Expert Workers</h3>
                                    <p class="gray-description-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                </div>
                        </div>


                    </div>
                  


            </div>

        </div>

        <div class="col-md-6 right-column">

            
        </div>

    </div>



</div>