
    <div class="container our-sponsorships-container">


              <!-- company names slider  -->
        <div class="container company-names" data-aos="fade-up"  data-aos-delay="0" data-aos-duration="1000">

            <swiper-container
            class="myCompaniesSwiper"
            autoplay="true"
            slides-per-view="3"
            slides-per-group="1"
            #imgswiper
            loop="true"
          >
            <swiper-slide>
                    <img class="slide-img" src="images/image-slider-images/image-1.webp" alt=""  (click)="openViewer(0)">
        
            </swiper-slide>
            <swiper-slide> 
                <img class="slide-img" src="images/image-slider-images/image-2.webp" alt=""  (click)="openViewer(1)">
            </swiper-slide>
            <swiper-slide>
        
                <img class="slide-img" src="images/image-slider-images/image-3.webp" alt=""  (click)="openViewer(2)">
        
            </swiper-slide>
            <swiper-slide>
                <img class="slide-img" src="images/image-slider-images/image-1.webp" alt=""  (click)="openViewer(3)">
        
            </swiper-slide>
            <swiper-slide>
                <img class="slide-img" src="images/image-slider-images/image-2.webp" alt=""  (click)="openViewer(4)">
        
            </swiper-slide>
            <swiper-slide>
                <img class="slide-img" src="images/image-slider-images/image-3.webp" alt=""  (click)="openViewer(5)">
            </swiper-slide>
          
        
        
          </swiper-container>
        
        
        
        </div>

    </div>



   

        <div class="viewer" *ngIf="selectedIndex !== null">
        <div class="overlay" (click)="closeViewer()"></div>
        <div class="image-background-modal">
            <button class="nav prev" (click)="prevImage()">&#10094;</button>
            <img [src]="images[selectedIndex!]"  class="image-in-viewer" alt="Large view">
            <button class="nav next" (click)="nextImage()">&#10095;</button>
            <button class="close" (click)="closeViewer()">×</button>
        </div>
        </div>
