<div class="container-fluid our-gallery">


    <div class="container our-gallery-container">


    

    <h3 class="yellow-text our-gallery-header">Our Gallery</h3>
    <h1 class="blue-big-font our-gallery-sub-header">Gallery Farm</h1>


    <div class="row">



            <div class="col-md-6">


                    <div class="row">

                        <div class="col-md-12 img-container">

                            <img src="images/gallery-images/gallery-img-left-1.jpg" alt="">
                            <div class="overlay-text big-img-text"> 

                                <h3>Dairy Farm</h3>
                                <p>View Detail Photo</p>

                            </div>

                        </div>
                        <div class="col-md-6 img-container">

                            <img src="images/gallery-images/gallery-img-left-2.jpg" alt="">
                            <div class="overlay-text small-img-text"> 

                                <h3>Dairy Farm</h3>
                                <p>View Detail Photo</p>

                            </div>

                        </div>
                        <div class="col-md-6 img-container">
                            <img src="images/gallery-images/gallery-img-left-3.jpg" alt="">
                            <div class="overlay-text small-img-text"> 

                                <h3>Dairy Farm</h3>
                                <p>View Detail Photo</p>

                            </div>
                        </div>


                    </div>












            </div>

            <div class="col-md-6">

                <div class="row">

                    <div class="col-md-6 img-container">

                        <img src="images/gallery-images/gallery-img-right-1.jpg" alt="">
                        <div class="overlay-text small-img-text"> 

                            <h3>Dairy Farm</h3>
                            <p>View Detail Photo</p>

                        </div>
                    </div>
                    <div class="col-md-6 img-container">
                        <img src="images/gallery-images/gallery-img-right-2.jpg" alt="">
                        <div class="overlay-text small-img-text"> 

                            <h3>Dairy Farm</h3>
                            <p>View Detail Photo</p>

                        </div>
                    </div>


                    <div class="col-md-12 img-container">

                        <img src="images/gallery-images/gallery-img-right-3.jpg" alt="">
                        <div class="overlay-text big-img-text"> 

                            <h3>Dairy Farm</h3>
                            <p>View Detail Photo</p>

                        </div>
                    </div>
                   


                </div>




            </div>











    </div>


</div>



</div>